/* Link-Formatierung */
a {
	color: #7790F3;
	text-decoration: none;
}

a:visited {
	color: #5DD828;
	text-decoration: none;
}

a:hover {
	color: #EEE022;
	text-decoration: none;
}

body {
	background-color:#000000; 
	color:#FFFFFF;
	width:650px; 
	height:480px;
}

button {
	background-color:#2A2A2A; 
	color:#FFFFFF; 
	padding-top:7px; 
	padding-bottom:7px; 
	border-width:2px; 
	border-color:#FFFFFF;
	font-family:TrajanPro-Bold;
	font-variant:small-caps;
	font-size:16pt;
	margin-top:6px;
	margin-bottom:6px;
}

select {
	background-color:#2A2A2A; 
	color:#FFFFFF; 
	margin-top:5px;
	padding:8px; 
	border-width:2px; 
	border-color:#FFFFFF; 
	font-family:TrajanPro-Bold;
	font-variant:small-caps;
	font-size:16pt;
	width:100%;
}

div {
	background-color:#000000; 
	color:#FFFFFF; 
	font-size:16pt;
}

td {
	background-color:#000000; 
	color:#FFFFFF; 
	padding:5px;
	font-size:16pt;
	vertical-align:top;
}

.title { 
	font-family:TrajanPro-Bold;
	font-variant:small-caps;
	font-size:16pt;
	
}

h2 {
	font-family:TrajanPro-Bold;
	font-variant:small-caps;
	font-size:26pt;
	
}

div#LogPanel {
	border-style:solid;
	border-radius:5px;
	border-width: 2px;
	border-color:#FFFFFF;
	font-family:TrajanPro-Bold;
	font-variant:small-caps;
	overflow-x:auto; 
	overflow-y:scroll; 
	height:300px; 
	padding:5px;
}

div#ResultPanel {
	font-family:TrajanPro-Bold;
	font-variant:small-caps;
	padding:5px;
}

#tablist {
	list-style: none;
	margin: 0;
	padding: 0;
}

#tablist li {
	background-color: #2A2A2A;
	border: 1px solid white;
	border-bottom: 1px solid black;
	border-radius: 0.5em 0.5em 0 0;
	display: inline;
	font-family:TrajanPro-Bold;
	font-variant:small-caps;
	height: 1em;
	padding: 0.5em 0.5em 10px;
}

#tablist li:focus,
#tablist li:hover {
	background-color: #AAAAAA;
}

#tablist li[aria-selected="true"] {
	background-color: black;
	padding: 0.5em 0.5em 11px;
}

#tabcontent {
	background-color: black;
	border: 1px solid white;
	margin-top: 10px;
	padding: 1em;
}

[aria-hidden="true"] {
	display: none;
}

[aria-hidden="false"] {
	display: block;
}

.divImg {
padding: 15px;
padding-top:8px;
background-color: black; 
position: absolute; float:right;
margin:15px;
top: 12px; 
visibility:hidden;
z-index:10;
}

